/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	width: 768px;
	padding: 0px;
	margin: 3px auto;
	vertical-align: top;
	height: auto;
	color: #003366;
}
#header {
}
#header_t {
	font-size: 11px;
	height: 40px;
	width: 768px;
	padding-top: 6px;
}
#header_t_l {
	width: 300px;
	float: left;
	padding-left: 20px;
}
#header_t_r {
	font-size: 11px;
	width: 400px;
	float: right;
	text-align: right;
	padding-top: 8px;
	padding-right: 20px;
}
#header_b {
	height: 52px;
	width: 768px;
}

#header_l {
	background-image: url(../img/header_l.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 6px;
	height: 52px;
	float: left;
}
#header_c {
	background-image: url(../img/header_c.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 52px;
	width: 756px;
	float: left;
	color: #FF9900;
}
h1.logo {
	font-size: 18px;
	margin-top: 15px;
	margin-left: 25px;
	width: 100px;
	float: left;
}
span.w_txt {
	color: #FFFFFF;
}
h4.txt {
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 20px;
	float: left;
	font-weight: normal;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	padding-left: 10px;
}
p.alert {
	margin: 3px 0px 6px 0px;
	font-size: 12px;
	clear: both;
	padding: 3px 0px;
	background-color: #FFFFCC;
}
span.text {
	font-weight: normal;
	font-size: 12px;
}
#header_r {
	background-image: url(../img/header_r.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 6px;
	height: 52px;
	float: right;
}

#navigator {
	height: 34px;
	margin-top: 2px;
	color: #FFFFFF;
	font-weight: bold;
	clear: both;
}
#nav_l {
	background-image: url(../img/nav_l.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 6px;
	height: 34px;
	float: left;
}
#nav_c {
	background-image: url(../img/nav_c.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 756px;
	height: 34px;
	float: left;
}
#nav_c ul {
}

#nav_c ul li {
	display: inline;
	line-height: 31px;
	padding-left: 4px;
}

#nav_c ul li.first {
	border-left: 0px;
}

#nav_c ul li a {
	background-color: transparent;
	background-repeat: repeat-x;
	padding: 1px 12px 2px 12px;
	color: #FFFFFF;
	height: 28px;
}

#nav_c ul li a:hover {
	background: #FFFFFF url('images/a18.gif') repeat-x top;
	color: #333333;
	text-decoration: none;
}

#nav_r {
	background-image: url(../img/nav_r.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 6px;
	height: 34px;
	float: right;
}
#content {
	padding-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
}
#content_l {
	color: #666666;
	background-image: url(../img/content_l.png);
	background-repeat: repeat-y;
	background-position: left top;
	float: left;
	width: 172px;
}
#content_l_t {
	background-image: url(../img/content_l_t.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
}
#content_l_c {
	padding: 0px 20px;
}
h1.content_l_hst1 {
	font-size: 12px;
	text-transform: uppercase;
	color: #FF9900;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.input_celd {
	margin: 5px 0px;
}
.input_field {
	border: 1px solid #999999;
	background-color: #EEEEEE;
}
.input_button {
	color: #333333;
	border: 1px solid #999999;
	background-color: #DDDDDD;
}
.input_checkbox {
	vertical-align: middle;
}
#content_l ul {
	font-size: 11px;
	list-style-position: inside;
	padding: 5px 0px 5px 5px;
}
#content_l li {
	padding-top: 2px;
	padding-bottom: 2px;
}
#content_l_b {
	background-image: url(../img/content_l_b.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 7px;
}

#content_r {
	float: right;
	width: 575px;
	padding: 0px 10px;
}

h1.content_r_hst1 {
	font-size: 14px;
	text-transform: uppercase;
	color: #FF9900;
	padding-bottom: 5px;
}

span.content_r_sst1 {
	font-size: 11px;
	text-transform: none;
	color: #003366;
}

p {
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}

h1.content_r_hst2 {
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 0px;
}
#content_r ol {
	list-style-position: inside;
	padding-left: 5px;
}

#content_r li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#content_r ol.practices {
	list-style-position: inside;
	padding-left: 10px;
}
#content_r li.practice {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #0066CC;
}
a.ast1, a.ast1:link, a.ast1:active, a.ast1:visited {
	color: #0066CC;
	text-decoration: none;
}
a.ast1:hover {
	color: #0066CC;
	text-decoration: underline;
}
a.ast2, a.ast2:link, a.ast2:active, a.ast2:visited {
	color: #336699;
	text-decoration: none;
}
a.ast2:hover {
	color: #336699;
	text-decoration: underline;
}
a.ast3, a.ast3:link, a.ast3:active, a.ast3:visited {
	color: #666666;
	text-decoration: none;
}
a.ast3:hover {
	color: #666666;
	text-decoration: underline;
}
a.ast4, a.ast4:link, a.ast4:active, a.ast4:visited {
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
a.ast4:hover {
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
a.ast5, a.ast5:link, a.ast5:active, a.ast5:visited {
	font-size: 11px;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
}
a.ast5:hover {
	font-size: 11px;
	font-weight: normal;
	color: #003366;
	text-decoration: underline;
}
a.ast6, a.ast6:link, a.ast6:active, a.ast6:visited {
	color: #0033FF;
	text-decoration: none;
}
a.ast6:hover {
	color: #0033FF;
	text-decoration: underline;
}
.content_r_data {
	background-image: url(../img/content_r_c.png);
	background-repeat: repeat-y;
	background-position: left top;
	float: left;
	width: 250px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
.content_r_data_t {
	background-image: url(../img/content_r_t.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
}
.content_r_data_c {
	padding: 0px 20px;
	color: #999999;
}
h1.content_r_hst3 {
	font-size: 12px;
	text-transform: uppercase;
	color: #999999;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
}
h1.content_r_hst4 {
	font-size: 12px;
	text-transform: uppercase;
	color: #999999;
	padding-top: 8px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
}

.content_r_data_b {
	background-image: url(../img/content_r_b.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 7px;
}
.content_r_data2 {
	background-image: url(../img/content_r_c2.png);
	background-repeat: repeat-y;
	background-position: left top;
	width: 500px;
	margin-top: 10px;
	margin-right: 10px;
}
.content_r_data_t2 {
	background-image: url(../img/content_r_t2.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
}
.content_r_data_b2 {
	background-image: url(../img/content_r_b2.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 7px;
}
.content_r_data3 {
	background-image: url(../img/content_r_c3.png);
	background-repeat: repeat-y;
	background-position: left top;
	width: 350px;
	margin-top: 10px;
	margin-right: 10px;
}
.content_r_data_t3 {
	background-image: url(../img/content_r_t3.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
}
.content_r_data_b3 {
	background-image: url(../img/content_r_b3.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 7px;
}
.grey {
	background-color: #EEEEEE;
}
table.data td {
	vertical-align: top;
	padding: 3px 0px;
}
table.form td {
	vertical-align: top;
	padding: 1px 0px;
}
table.form td.buttons {
	vertical-align: top;
	padding: 5px 0px 0px 0px;
}
table.form td.users {
	vertical-align: top;
	height: 20px;
	padding: 2px 0px;
}
table.results td {
	vertical-align: top;
	padding: 3px 0px;
}
table.results td.menu {
	padding: 0px;
	margin: 0px;
}
.blank {
	height: 10px;
	clear: both;
}

#footer {
	padding-top: 4px;
	border-top: 4px solid #DDDDDD;
	font-size: 10px;
	color: #999999;
	text-align: center;
}


/* Estilos de la barra de menus */

#menu_list_box {
	margin: 0px;
	padding: 3px 0px;
	list-style-type: none;
	border-bottom: 1px solid #EEEEEE;
	float: left;
	width: 100%;
}
#menu_list_box li {
	margin: 0px;
	padding: 2px 0px 2px 0px;
}
#menu_list_box li ul {
	margin-top: 2px;
}
#list_select {
	float: left;
	width: 125px;
	border: 1px solid #FFFFFF;
	cursor: default;
	padding: 0px;
	margin: 0px;
}
#list_select_option {
	display: none;
	list-style-type: none;
	background-color: #FFFFFF;
	width: 124px;
	position: absolute;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	padding: 0px;
	margin: 0px;
	clear: left;
}
#list_operation {
	float: left;
	width: 125px;
	border: 1px solid #FFFFFF;
	cursor: default;
	padding: 0px;
	margin: 0px;
}
#list_operation_option {
	display: none;
	background-color: #FFFFFF;
	list-style-type: none;
	width: 124px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	position: absolute;
}
#list_order {
	float: left;
	width: 125px;
	border: 1px solid #FFFFFF;
	cursor: default;
	padding: 0px;
	margin: 0px;
}
#list_order_option {
	display: none;
	background-color: #FFFFFF;
	width: 124px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	list-style-type: none;
	position: absolute;
}
#list_show {
	float: left;
	width: 125px;
	border: 1px solid #FFFFFF;
	cursor: default;
	padding: 0px;
	margin: 0px;
}
#list_show_option {
	display: none;
	background-color: #FFFFFF;
	width: 124px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	list-style-type: none;
	position: absolute;
}
#menu_list_box li ul li.list_element {
	height: 16px;
	padding: 2px 5px 2px 5px;
	cursor: default;
}

/* Estilos de lista de practicas */
.results_info {
	padding: 3px 0px;
	border-bottom: 1px solid #EEEEEE;
}
.check {
	border-bottom: 1px solid #EEEEEE;
}
.text {
	border-bottom: 1px solid #EEEEEE;
}
.image {
	border-bottom: 1px solid #EEEEEE;
}
p.paginator {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
span.txtbu {
	font-weight: bold;
	text-decoration: underline;
}
p.adinfo {
	font-size: 11px;
	padding: 3px 0px;
}

#comment_form_box {
	border-top: 1px solid #DDDDDD;
	margin-top: 20px;
}

#comments_box {
	border-top: 1px solid #DDDDDD;
	margin-top: 20px;
}

.form_button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #003333;
	font-size: 13px;
	color: #003333;
	background-color: #DDDDDD;
	margin: 0px;
	vertical-align: middle;
	padding: 0px;
	height: 20px;
}