.tsize{
    font-size:14px;
 }

 td a{
     text-decoration: none;
 }

.content_r_hst2{
    font-size: 20px;
    text-transform: uppercase;
    color: #003366;
    font-weight: 700;
    margin-bottom:30px;
}

